body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.game-area {
  position: relative;
  /* margin-bottom: 50px auto; */
  background-image: url('./assets/images/grass_base.png');
  width: 99.8%;
  height: 710px;
  border: 2px solid #000;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 4%;
  background-image: url('./assets/images/snake_skin.jpg');
  background-size: 150%;
  /* border: 1px solid #fff; */
  z-index: 2;
  border-radius: 15%;
}

.snake-dot:first-child {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 4%;
  background: rgb(191, 1, 1);
  border: 1px solid #fff;
  z-index: 1;
  border-top-left-radius:50%;
  border-top-right-radius:43%;
  border-bottom-left-radius:35%;
  border-bottom-right-radius:30%;
}

.button {
  font-size: x-large;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 20%;
  padding-bottom: 1%;
  margin-inline: 5%;
}

.div {
  background-color: #282c34;
  text-align: center;
  padding: 29%;
}